.our-designers {
  background-image: url(../img/bg-for-section-our-designers.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 320px;
  padding: 90px 0px;
}

.our-designers__inner {
  padding: 0px 24px;
}

.our-designers__label {
  color: var(--accent-text-color);
  font-size: 10px;
  display: inline;
  margin-bottom: 10px;
}

.our-designers__title {
  font-size: 40px;
  color: var(--text-color);
  margin-bottom: 15px;
  display: flex;
  display: inline;
}

.our-designers__description {
  font-size: 19px;
  color: var(--medium-text-color);
}

.our-designers__content {
  text-align: center;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}

.our-designers__designer {
  margin-top: 30px;
  padding: 0 15px;
}

.our-designers__image {
  width: 100%;
  height: auto;
  border-top-right-radius: 150px;
  margin-bottom: -5px;
}

.our-designers__info {
  background-color: var(--dark-gray-bg-color);
  display: flex;
  flex-direction: column;
  padding: 31px 27px;
}

.our-designers__name {
  color: var(--text-color);
  margin-bottom: 10px;
}

.our-designers__experience {
  color: var(--light-accent-text-color);
  margin-bottom: 10px;
}

.our-designers__bio {
  color: var(--paragraph-text-color);
  margin-bottom: 15px;
}

.our-designers__social {
  margin-top: 30px;
}

.our-designers__icon {
  width: 30px;
  height: 30px;
  color: var(--accent-text-color);
  cursor: pointer;
}

.our-designers__list {
  display: grid;
}

@media (min-width: 479px) {
  .our-designers__list {
    grid-template-columns: 1fr 1fr;
  }
}

