.about-us-video-container {
    background-image: url("../img/section-about-us/about-us-video-image.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.about-us-video-container__text-block {
    padding: 150px 24px 60px;
    height: auto;
}

.container{
    max-width: 1170px;
}

.about-us-video-container__push-button {
    color: var(--light-accent-text-color);
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.title-content {
    margin-top: 20px;
    margin-bottom: 8px;
}

.title-of-section {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .about-us-video-container__text-block {
        padding: 275px 32px 60px;
    }

    .about-us-video-container__push-button {
        margin-top: 120px;
        width: 70px;
        height: 70px;
    }
}

@media (min-width: 1024px) {
    .about-us-video-container__text-block {
        padding: 400px 40px 60px;
    }
}


