.about-us-video-container {
    position: relative;

    background-image: url("../img/section-about-us/about-us-video-image.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

.about-us-video-container__text-block {
    padding: 150px 24px 60px;
}

.about-us-video-container_push-button {
    color: var(--light-accent-text-color);
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.about-us-video-container__title {
    margin-bottom: 8px;
}

.about-us-video-container__accent-text {
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    .about-us-video-container {
        min-height: 758px;
    }
    .about-us-video-container__title {
        margin-bottom: 25px;
    }

    .about-us-video-container__text-block {
        padding: 275px 32px 60px;
    }
}