/*Our Services*/

.our-services {
  background-color: var(--black-bg-color);
}

.our-services__image {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 2 / 1;
}

.our-services__content {
  box-sizing: border-box;
  padding: 90px 30px;
}

.our-services__header-text {
  color: var(--paragraph-text-color);
}

/*Accordion*/

.accordion {
  --bs-accordion-btn-icon-width: 1.7rem;
  --bs-accordion-btn-icon-transform: none;
}
  
.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  background-image: url(../img/about-us-our-services-button-icon-before.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../img/about-us-our-services-button-icon-after.svg);
}

.our-services__accordion {
  margin-top: 25px;
  .our-services__accordion-item-button {
    font-weight: 600;
    font-size: 22px;
    color: var(--text-color);
    background-color: var(--black-bg-color);
  }
  .our-services__accordion-item-button::after {
    color: var(--text-color);
  }
  .our-services__accordion-item-description {
    background-color: var(--black-bg-color);
    font-weight: 400;
    font-size: 16px;
    color: var(--paragraph-text-color);
  }
}

/*Our History*/

.our-services__company-history {
  padding: 30px 24px;
  background-color: var(--accent-gray-bg-color);
  ul.our-services__company-history-list {
    list-style-type: none;
  }
  .our-services__company-history-list {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
  }
  .our-services__company-history-item {
    margin-top: 60px;
  }
  .our-services__company-history-item:first-child {
    margin-top: 0;
  }
  .our-services__company-history-year {
    font-size: 30px;
    font-weight: 700;
    color: var(--accent-text-color);
  }
  .our-services__company-history-event {
    font-size: 16px;
    font-weight: 400;
    color: var(--paragraph-text-color);
  }
}

@media (min-width: 480px) {
  .our-services__company-history {
    padding-top: 0;
    .our-services__company-history-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr 1fr;
    }
    .our-services__company-history-item:first-child {
      margin-top: 30px;
    }
    .our-services__company-history-item {
      padding: 0 20px;
      margin-top: 30px;
    }
  }
}

@media (min-width: 750px) {
  .our-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .our-services__image {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1000px) {
  .our-services__company-history {
    display: flex;
    justify-content: center;
    .our-services__company-history-list {
      display: flex;
      flex-direction: row;
    }
  }
}
