/*Our Services*/
.our-services {
  background-color: #0d0d0d;
  color: #ffffff;
}

/* temporarily for image*/

.our-services__image {
  object-fit: cover;
  size: 100%;
  max-width: 320px;
  max-height: 200px;
}
/**/

.our-services__content {
  box-sizing: border-box;
  size: 100%;
  display: flex;
  flex-direction: column;
  padding: 90px 30px;
}

.our-services__content-description {
  color: #d78c43;
  size: auto;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.our-services__header {
  font-size: 40px;
  margin-top: 20px;
}

.our-services__header-text {
  margin-top: 25px;
  font-size: 19px;
  color: #e1e1e1;
  font-weight: 500;
}

.our-services__accordion {
  margin-top: 25px;
  box-sizing: border-box;
  ul {
    list-style-type: none;
  }
  .our-services__accordion-item {
    padding: 20px 0;
  }
  .our-services__accordion-item-description {
    margin-top: 20px;
  }
  .our-services_accordion-item-header {
    font-weight: 600;
    font-size: 22px;
  }
  .our-services__accordion-item-description p {
    font-weight: 400;
    font-size: 16px;
  }
}

.our-services__accordion-button {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.our-services__accordion-list li::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: url("../img/about-us-our-services-line.svg") no-repeat;
  background-size: 100% auto;
}

/*Our History*/

.our-services__company-history {
  padding: 30px 24px;
  background-color: #161616;
  display: flex;
  flex-direction: row;
  ul {
    list-style-type: none;
  }
  .our-services__company-history-item:not(:first-child) {
    margin-top: 60px;
  }
  .our-services__company-history-item {
    padding: 0 20px;
  }
  .our-services__company-history-year {
    font-size: 30px;
    font-weight: 700;
    color: #d78c43;
  }
  .our-services__company-history-event {
    font-size: 16px;
    font-weight: 400;
    color: #bbbbbb;
  }
}
