ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select {
  background: none;
  border: none;
  padding: 0;
  font: inherit;

  display: block;
  border-radius: 0;
}

.collaborate__registration-container input.valid {
  border: 1px solid var(--valid-border-color);
  border-radius: 4px;
}

.collaborate__registration-container input.invalid {
  border: 1px solid var(--invalid-border-color);
  border-radius: 4px;
}

body {
  background-image: url(../img/contacs/background-contacts.svg);
  background-attachment: fixed;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main__collaborate {
  display: flex;
  max-width: 1200px;
  width: 100%;
  padding: 120px 0;
}

.collaborate__container {
  max-width: 570px;
  width: 100%;
  box-sizing: content-box;
  padding: 25px 0;
  margin: 0 15px;
}

.collaborate__registration {
  max-width: 570px;
  width: 100%;
  background-color: var(--dark-gray-bg-color);
  box-sizing: content-box;
  margin: 0 15px;
}

.collaborate__registration-container {
  display: grid;
  grid-row-gap: 24px;
  background-color: var(--dark-gray-bg-color);
  padding: 70px;
}

.collaborate__registration-container input {
  font-size: 12px;
  font-weight: 700;
  background-color: var(--input-background-color);
  color: var(--text-color);
  padding: 16px 24px;
  max-width: 430px;
  width: 100%;
}

.collaborate__phone-container {
  display: flex;
  position: relative;
  align-items: center;
}

.collaborate__prefix-phone-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding: 0 24px;
  height: 100%;
  background-color: var(--input-background-color);
}

.collaborate__prefix-phone {
  cursor: pointer;
  outline: none;
  color: var(--medium-text-color);
}

option {
  background-color: var(--dark-gray-bg-color);
}

.collaborate__error-container {
  width: 100%;
} 

.phone-error {
  display: none; 
  position: absolute; 
  padding-left: 12px;
  font-size: 12px;
  color: var(--invalid-border-color);
}

.collaborate__registration-container textarea {
  font-family: Manrope;
  text-align: start;
  max-width: 430px;
  width: 100%;
  border: 0;
  resize: none;
  min-height: 150px;
  margin-bottom: 24px;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
  background-color: var(--input-background-color);
}

.collaborate__registration-container button {
  font-family: Manrope;
  margin-top: 26px;
  cursor: pointer;
  border: 0;
  font-size: 12px;
  font-weight: 700;
  color: var(--text-color);
  padding: 16px 24px;
  max-width: 430px;
  width: 100%;
  background-color: var(--accent-text-color);
  transition-duration: 0.3s;
}

.collaborate__contact-us:hover {
  background-color: var(--text-color);
  color: var(--black-bg-color);
}

.collaborate__subtitle {
  color: var(--accent-text-color);
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 10px;
}

.collaborate__title {
  font-size: 62px;
  font-weight: 600;
  margin-top: 20px;
  line-height: 74.4px;
  color: var(--text-color);
}

.collaborate__description {
  color: var(--medium-text-color);
  font-size: 19px;
  font-weight: 500;
  line-height: 26.03px;
  margin-top: 25px;
}

.collaborate__item {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  font-weight: 400;
}

.collaborate__text {
  color: var(--text-color);
  margin-top: 25px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.48px;
}

.collaborate__list {
  color: var(--medium-text-color);
  margin-top: 20px;
  font-size: 15px;
}

.collaborate__cta {
  color: var(--text-color);
  font-size: 26px;
  font-weight: 600;
}

@media (max-width: 768px) {
  .main__collaborate {
    flex-direction: column;
    align-items: center;
    margin: 0 90px;
  }
}
