@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  --text-color: #fff;
  --accent-text-color: #d78c43;
  --light-accent-text-color: #f1d1af;
  --medium-text-color: #e1e1e1;
  --paragraph-text-color: #bbbbbb;
  --black-bg-color: #0d0d0d;
  --accent-gray-bg-color: #161616;
  --light-gray-bg-color: #333333;
  --dark-gray-bg-color: #252527;
  font-family: "Manrope" !important;
}

.conteiner {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: "Manrope", sans-serif !important;
  color: var(--paragraph-text-color);
}

p {
  font-size: 10px;
}

a {
  color: inherit;
}

h1 {
  color: var(--text-color);
  font-size: 36px;
  min-width: 320px;
}

h2 {
  color: var(--accent-text-color);
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
}
