.footer {
    background-color: var(--black-bg-color);
    font-family: 'Manrope', sans-serif;
}

.footer__about {
    background-color: var(--black-bg-color);
    font-family: 'Manrope', sans-serif;
}

.footer__logo {
    max-width: 272px;
    height: auto;
}

.footer__description {
   
    align-items: center;
    padding: 10px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

@media(min-width: 770px) {
    .footer__about {
        display: flex; 
    }

}