.contact-us {
  height: 650px;
  background-image: url("../img/bg-for-section-contact-us.png");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row; 
  text-align: left;
}

.contact-us__header-title {
  width: 50%;
}

.contact-us__contacts {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.contact-us__phone,
.contact-us__mail {
  text-decoration: underline;
  color: var(--light-accent-text-color);
}

.contact-us__button {
  background-color: var(--accent-text-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
}

.contact-us__button:hover {
  background-color: var(--text-color);
  color: black;
}


@media (max-width: 768px) {
  .contact-us {
    flex-direction: column; 
    height: auto; 
    padding: 20px; 
    text-align: left; 
    background-position: center; 
  }

  .contact-us__header-title {
    padding-left: 0; 
    margin-bottom: 10px;
  }

  .contact-us__header-main-title {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .contact-us__explore, 
  .contact-us__contacts {
    font-size: 19px; 
  }

  .contact-us__button {
    align-self: left; 
    font-size: 12px; 
  }
}
