/* Bekish Khrystyna */

.projects-partial {
  background-color: var(--black-bg-color);
  padding: 90px 0 30px;
  background-size: cover;
  background-position: center;
}

.projects {
  width: 272px;
  padding: 0 15px;
}

.projects-title {
  font-size: 10px;
  color: var(--accent-text-color);
}

.projects-subtitle {
  font-size: 40px;
  color: var(--text-color);
  margin-top: 20px;
  font-weight: 900;
}

.projects-info {
  margin-top: 30px;
}

.projects-tagline {
  font-size: 30px;
  color: var(--light-accent-text-color);
}

.projects-description {
  font-size: 16px;
  color: var(--medium-text-color);
  margin-top: 25px;
}

.projects-link {
  font-size: 10px;
  color: var(--accent-text-color);
  margin-top: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}

.section-separator::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.15);
  margin: 45px 0;
}

.projects-shorter-line,
.projects-longer-line {
  width: 100%;
  height: 1px;
  fill: none;
  stroke-width: 1px;
}

.projects-shorter-line {
  stroke: rgba(255, 255, 255, 0.09);
}

.projects-longer-line {
  stroke: rgba(255, 255, 255, 0.15);
}

.project-title {
  font-size: 22px;
  color: var(--text-color);
}

.project-date {
  font-size: 10px;
  color: var(--light-accent-text-color);
  margin-top: 20px;
  font-weight: var(--font-small-weight);
  letter-spacing: 2px;
}

.project-description {
  font-size: 16px;
  color: var(--paragraph-text-color);
  margin-top: 50px;
}

.project-icon {
  width: 50px;
  height: 50px;
  color: var(--accent-text-color);
  margin: 50px 0 45px;
}

.project-image-room,
.project-image-lamp {
  margin-top: 50px;
  width: 272px;
}

.project-image-room {
  height: 189.23px;
}

.project-image-lamp {
  height: 329.41px;
}

@media screen and (max-width: 320px) {
  .projects-partial {
    max-width: 100%;
  }
}