/* Bekish Khrystyna */

.projects-partial {
  background-color: var(--black-bg-color);
  padding: 90px 0 30px 0;
  background-size: cover;
  background-position: center;
}

.projects,
.project {
  width: 100%; /* Використовуємо відсотки для адаптивності */
  max-width: 100%; /* Зазначаємо максимальну ширину */
  padding: 0 5%; /* Відступи робимо відносними */
}

.projects-title {
  color: var(--accent-text-color);
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
}

.projects-subtitle {
  color: var(--text-color);
  font-size: 32px; /* Зменшений розмір для мобільних */
  margin-top: 20px;
  font-weight: 600;
}

.projects-info {
  margin-top: 20px; /* Зменшений відступ для мобільних */
}

.projects-tagline {
  font-size: 14px; /* Зменшено для мобільних */
  color: var(--light-accent-text-color);
}

.projects-description {
  color: var(--medium-text-color);
  font-size: 16px; /* Зменшений розмір */
  margin-top: 20px;
  font-weight: 500;
}

.projects-link {
  font-size: 14px; /* Зменшений розмір */
  color: var(--accent-text-color);
  margin-top: 20px;
  font-weight: var(--font-project-link);
  letter-spacing: 2px;
}

.projects-shorter-line {
  margin-top: 30px;
}

.projects-longer-line {
  width: 100%; /* Використовуємо 100% для адаптивної ширини */
}

.project-title {
  font-size: 24px; /* Зменшений заголовок для мобільних */
  color: var(--text-color);
}

.project-date {
  font-size: 12px; /* Менший розмір дати */
  color: var(--light-accent-text-color);
  margin-top: 15px;
  font-weight: var(--font-small-weight);
  letter-spacing: 2px;
}

.project-description {
  font-size: 14px; /* Зменшений розмір тексту */
  color: var(--paragraph-text-color);
  margin-top: 30px;
}

.project-icon {
  width: 40px; /* Зменшена іконка */
  height: 40px;
  color: var(--accent-text-color);
  margin-top: 30px;
  margin-bottom: 30px;
}

.project-image-room,
.project-image-lamp {
  width: 100%; /* Ширина адаптивна */
  height: auto; /* Пропорційна висота */
  margin-top: 20px;
}

@media screen and (max-width: 320px) {
  .projects-partial {
    padding: 60px 0 20px 0; /* Зменшуємо відступи для мобільних */
  }

  .projects-subtitle {
    font-size: 24px; /* Ще зменшений заголовок */
  }

  .projects-description,
  .project-description {
    font-size: 12px; /* Зменшений текст */
  }
}