@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "index.header.partial.css";
@import "index.section-about-us.css";
@import "index.lighting-solutions.partial.css";
@import url(global.css);
@import url(about-us-section-our-services.partial.css);
@import url(about-us.css);
@import url(index.header.partial.css);
@import url(index.section-about-us.css);
@import "index.contactus.partial.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

:root {
  scroll-behavior: smooth;
}

