.index-header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/index-header.webp");
  color: var(--paragraph-text-color);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header__content {
  max-width: 1200px;
  padding: 0 15px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.left-block {
  flex: 1;
  max-width: 40%;
}

.right-aligned-text {
  text-align: right;
  align-items: flex-end;
}

.right-block {
  max-width: 500px;
  
}

.header-small-lamp-img {
  text-align: right;
  align-items: flex-end;
  width: 5vw !important;
}

.right-block svg {
  max-height: 20px;
}

.index-header h1 {
  color: var(--text-color);
  font-size: 5vw;
}

.header__nav {
  background-color: transparent !important;
}

.product-title {
  color: var(--text-color);
  font-size: 20px;
  padding-top: 2vw;
}

.arrow-link {
  text-decoration: none;
  color: var(--accent-text-color);
  font-size: 19px;
}

.header__button {
  font-size: 11px;
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  transition: background-color 0.3s, color 0.3s;
  padding-top: 4vw;
  padding-bottom: 24vw;
}

.request-link {
  text-decoration: none;
  color: var(--accent-text-color);
  font-size: 10px;
}
.highlight-text {
  color: var(--light-accent-text-color);
}

.read-more-link {
  color: var(--text-color);
  font-size: 10px;
}

