/* 13 Maksym Haiduk */

body {
  margin: 0;
}

.about-us {
  background-image: url(../img/section-about-us/background-about-us.svg);
  color: #FFFFFF;
  padding: 120px 159.6px;
  font-family: "Manrope", sans-serif;
}

.about-us__intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us__intro-text {
  width: 570px;
  padding: 0 15px;
}

.about-us__intro-tagline {
  color: #D78C43;
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
  margin: 0;
}

.about-us__intro-title {
  margin: 10px 0 0 0;
  font-size: 62px;
  font-weight: 600;
}

.about-us__intro-subtitle {
  margin-bottom: 0;
  font-size: 19px;
  font-weight: 400;
  color: #E1E1E1;
}

.about-us__content {
  display: flex;
  flex-direction: column;
  width: 570px;
  padding: 0 15px;
}

.about-us__content-title {
  font-size: 36px;
  font-weight: 400;
  margin: 0;
}

.about-us__content-description {
  font-size: 16px;
  color: #bbb;
  margin: 0;
  padding-top: 25px;
}

.about-us__stats {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.about-us__stat {
  border: 2px solid rgba(255, 255, 255, 0.08);
  padding: 20px 70px 30px 25px;
  width: 177px;
  margin-left: 15px;
}

.about-us__stat:last-of-type {
  border-radius: 0 100px 0 0;
}

.about-us__stat-number {
  font-size: 62px;
  margin: 0;
}

.about-us__stat-label {
  font-size: 16px;
  margin: 20px 0 0 0;
  color: #bbb;
}

.about-us__stat-number span {
  color: #D78C43;
  font-size: 62px;
}