.services {
  background-image: url(/img/services/services-background.svg);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 90px;
}

.services__header {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: column;
  padding: 0px;

  .services__header-title {
    text-align: left;
    width: 100%;
  }
}

.services__header-breadcrumb {
  text-transform: uppercase;
  font-family: inherit;
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 800;
  color: var(--accent-text-color);
  display: block;
}

.services__header-main-title {
  margin-top: 20px;
  margin-right: 20px;
  font-family: inherit;
  color: var(--text-color);
  display: block;
  text-wrap: wrap;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: normal;
  overflow-wrap: break-word;
}

.services__header-welcome {
  margin-top: 60px;
  width: 100%;
  text-align: left;
  display: block;
  color: var(--text-color);

  .services__header-greetings {
    font-size: 19px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: normal;
    margin-bottom: 25px;
  }

  .services__header-greetings-details {
    font-size: 16px;
    color: var(--paragraph-text-color);
    font-weight: 400;
  }
}

.services__header-explore {
  display: flex;
  max-width: 100%;
  margin-top: 20px;
  justify-content: right;
}

.services__header-explore-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.services__header-explore-icon {
  width: 20px;
  fill: var(--accent-text-color);
  margin-right: 5px;
}

.services__header-explore-text {
  color: #f1d1af;
  font-size: 16px;
  font-weight: 700;
}

.services__content-ceiling-fixtures-icon {
  width: 30px;
}

.services__content-floor-lamps-icon {
  width: 30px;
}

.services__content-wall-sconces-icon {
  width: 30px;
}

.services__content-wall-mounted-icon {
  width: 30px;
}

.services__content-kitchen-island-icon {
  width: 30px;
}

.services__content-modular-lighting-icon {
  width: 30px;
}

.services__content-led-lighting-icon {
  width: 30px;
}

.services__content-smart-lighting-icon {
  width: 30px;
}

.services__footer-images {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (min-width: 600px) {
  .services__header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) {
  .services {
    background-image: url(/img/services/services-background.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
}

@media (max-width: 767px) {
  .services {
    background-image: url(/img/services/services-background.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .services {
    background-image: url(/img/services/services-background.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
  }
}
