.features-container {
  background-color: var(--black-bg-color);
  padding: 0;
}

.features-container__image {
  background-image: url(../img/features-image.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  animation: pulse 3s infinite;
}

.features-container__content {
  padding: 90px 30px;
}

.features-container__title {
  margin-top: 20px;
  color: var(--text-color);
  font-size: var(--font-block-title-size-mobile);
  font-weight: var(--font-block-title-weight);
}

.features-container__subtitle {
  margin-top: 25px;
  color: var(--medium-text-color);
  font-size: var(--font-subtitle-size);
}

.features-container__description {
  margin-top: 25px;
  color: var(--paragraph-text-color);
  font-size: var(--font-text-size);
}

.features-container__list {
  margin-top: 20px;
}

.features-container__checkmark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
}

.features-container__checkmark img {
  width: 20px;
  height: 24px;
}

.features-container__checkmark p {
  color: var(--text-color);
  font-size: var(--font-caption-size-tablet);
  font-weight: var(--font-text-weight);
  margin-left: 10px;
}

.features-container__trust-message {
  margin-top: 20px;
  margin-bottom: 35px;
  color: var(--light-accent-text-color);
  font-size: var(--font-text-size);
  font-weight: var(--font-caption-weight);
}

.button-features {
  padding: 16px 24px;
  font-size: var(--font-button-size);
  font-weight: var(--font-button-weight);
}

@media (min-width: 768px) {
  .features-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .features-container__content {
    margin: 0 auto;
    max-width: 570px;
  }

  .features-container__image {
    height: 100%;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}


