.contact-us {
  height: auto;
  background-image: url("../img/bg-for-section-contact-us.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  overflow: hidden; 
  padding: 30px 0;
  padding-left: 20px;
}


.contact-us__header{
  max-width: 1200px;
  box-sizing: border-box; 
}


.contact-us__contacts {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 30px;
}

.contact-us__phone,
.contact-us__mail {
  text-decoration: underline;
  color: var(--light-accent-text-color);
}

.contact-us__button {
  background-color: var(--accent-text-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
  text-decoration: none;
  font-size: 12px;
}

.contact-us__button:hover {
  background-color: var(--text-color);
  color: black;
}

@media (min-width: 600px){
  .contact-us__header{
    width: 50%;
    margin: 115px 0;
  }
  .title-intro{
    font-size: 51px;
  }

}

@media (min-width: 1024px){
  .title-intro{
    font-size: 62px;
  }
  .contact-us__header{
    max-width: 1200px;
    justify-self: center;
  }
  .contact-us{
    display: grid;
    grid-template-columns: 70% 30%;
    overflow: hidden;
    padding: 0;
  }
}