/* 13 Maksym Haiduk */
.about-us {
  padding: 90px 24px;
  background-image: url(../img/section-about-us/background-about-us.svg);
  background-size: cover;
  background-position: center;
}

.about-us__intro-text {
  padding: 0 15px;
}

.about-us__intro-tagline {
  color: var(--accent-text-color);
  font-size: 10px;
  font-weight: 900;
  letter-spacing: 2px;
}

.about-us__intro-title {
  color: var(--text-color);
  font-size: 40px;
  margin-top: 20px;
  font-weight: 600;
}

.about-us__intro-subtitle {
  color: var(--medium-text-color);
  font-size: 19px;
  margin-top: 25px;
  font-weight: 500;
}

.about-us__content {
  padding: 0 15px;
}

.about-us__content-title {
  color: var(--text-color);
  font-size: 30px;
  margin-top: 50px;
  font-weight: 400;
}

.about-us__content-description {
  color: var(--paragraph-text-color);
  font-size: 16px;
  margin-top: 25px;
}

.about-us__stats {
  margin-top: 45px;
  margin-bottom: 50px;
  display: grid;
  gap: 50px;
  padding: 0 15px;
}

.about-us__stat {
  border: 2px solid #363638;
  padding: 27px;
}

.about-us__stat-number {
  color: var(--text-color);
  font-size: 40px;
}

.about-us__stat-number span {
  color: var(--accent-text-color);
  font-size: 40px;
}

.about-us__stat-label {
  color: var(--paragraph-text-color);
  font-size: 16px;
  margin-top: 25px;
}

.about-us__stat-last {
  border-radius: 0 100px 0 0;
}

@media (min-width: 768px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }

  .about-us__intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
  }

  .about-us__intro-title,
  .about-us__stat-number,
  .about-us__stat-number span {
    font-size: 51px;
  }

  .about-us__content-title {
    font-size: 33px;
    margin: 0;
  }

  .about-us__stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
  }
}

@media (min-width: 992px) {
  .about-us__intro-title,
  .about-us__stat-number,
  .about-us__stat-number span {
    font-size: 62px;
  }
}