.contact-us {
  height: 60vh;
  background-image: url("/img/bg-for-section-contact-us.png");
  background-size: cover;
  background-position: right;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.contact-us__header-title {
  text-align: left;
  padding-left: 50px;
  margin-bottom: 10px;
  max-width: 600px;
}

.contact-us__header-main-title {
  font-size: 51px;
  color: var(--text-color);
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-us__header-breadcrumb {
  font-size: 10px;
  color: var(--accent-text-color);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.contact-us__explore {
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
}

.contact-us__contacts {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.contact-us__phone,
.contact-us__mail {
  text-decoration: underline;
  color: var(--light-accent-text-color);
}

.contact-us__button {
  background-color: var(--accent-text-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start;
}

.contact-us__button:hover {
  background-color: var(--text-color);
  color: black;
}
