.subscribe-section {
  background-color: var(--black-bg-color);
  padding: 50px 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/subscribe-background.png);
  background-size: cover;
  background-position: right center;
}

.subscribe-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  text-align: left;
}

.subscribe-section__content {
  flex: 1;
}

.subscribe-section__title {
  font-size: var(--font-block-title-size);
  color: var(--accent-text-color);
  margin-bottom: 10px;
}

.subscribe-section__description {
  font-size: var(--font-text-size);
  color: var(--paragraph-text-color);
  margin-bottom: 30px;
}

.subscribe-section__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 400px;
}

.subscribe-section__input,
.subscribe-section__button {
  width: 100%;
  padding: 15px;
  font-size: var(--font-text-size);
  color: var(--text-color);
  background-color: var(--input-background-color);
  border: 1px solid var(--accent-gray-bg-color);
  border-radius: 5px;
}

.subscribe-section__button {
  background-color: var(--accent-text-color);
  color: var(--text-color);
  border: none;
  font-size: var(--font-button-size);
  font-weight: var(--font-button-weight);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.subscribe-section__button:hover {
  background-color: var(--light-accent-text-color);
}

@media (max-width: 992px) {
  .subscribe-section__container {
    flex-direction: column;
    align-items: center;
  }

  .subscribe-section__title {
    font-size: var(--font-block-title-size-tablet);
  }

  .subscribe-section__description {
    font-size: var(--font-caption-size-tablet);
    text-align: center;
  }

  .subscribe-section__form {
    width: 100%;
    max-width: 100%;
  }

  .subscribe-section__input,
  .subscribe-section__button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .subscribe-section__container {
    flex-direction: column;
    text-align: center;
  }

  .subscribe-section__title {
    font-size: var(--font-block-title-size-mobile);
  }

  .subscribe-section__description {
    font-size: var(--font-caption-size-tablet);
    text-align: center;
  }

  .subscribe-section__form {
    width: 100%;
    max-width: 100%;
  }

  .subscribe-section__input,
  .subscribe-section__button {
    width: 100%;
  }
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.popup--visible {
  visibility: visible;
  opacity: 1;
}

.popup__content {
  background-color: var(
    --black-bg-color
  );
  color: var(--text-color); 
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative; 
}

.popup__icon {
  width: 50px;
  height: auto;
  fill: var(--accent-text-color); 
}

.popup__message {
  font-size: var(--font-text-size);
  font-weight: var(--font-text-weight);
  line-height: var(--font-text-line-height);
}

.popup__title {
  font-weight: var(--font-heading-weight); 
  font-size: var(--font-subtitle-size); 
}

.popup__close-button {
  background-color: var(--accent-text-color);
  border: none;
  padding: 12px 60px; 
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-color);
  font-size: var(--font-button-size);
  font-weight: var(--font-button-weight);
  transition: background-color 0.2s;
  margin-top: 20px; 
}

.popup__close-button:hover {
  background-color: var(--light-accent-text-color);
}

.popup--hidden {
  visibility: hidden;
  opacity: 0;
}

.popup__close-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  fill: var(--accent-text-color);
}
