/* 9 Lada Bratsykhina */
.catalogs {
    background-color: var(--dark-gray-bg-color);
    display: flex;
    flex-direction: column;
    padding: 90px 24px;
}

.catalogs__intro-and-collections {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.catalogs__intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.catalogs__breadcrumbs {
    color: var(--accent-text-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-small-weight);
    line-height: var(--font-small-line-height);
    letter-spacing: 2px;
}

.catalogs__title {
    margin-top: 20px;
    color: var(--text-color);
    font-size: var(--font-block-title-size-mobile);
    font-weight: var(--font-block-title-weight);
    line-height: var(--font-block-title-line-height);
    letter-spacing: normal;
}

.catalogs__description {
    margin-top: 25px;
    color: var(--medium-text-color);
    font-size: var(--font-subtitle-size);
    font-weight: var(--font-subtitle-weight);
    line-height: var(--font-subtitle-line-height);
}

.button--catalogs {
    margin-top: 35px;
    width: 103.76px;
}

.catalogs__collections {
    margin: 60px 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.catalogs__collection-title {
    color: var(--text-color);
    font-size: var(--font-heading-size-mobile);
    font-weight: var(--font-heading-weight);
    line-height: var(--font-heading-line-height);
}

.catalogs__collection-description {
    margin-top: 20px;
    color: var(--paragraph-text-color);
    font-size: var(--font-text-size);
    font-weight: var(--font-text-weight);
    line-height: var(--font-text-line-height);
}

.catalogs__collection-download {
    margin-top: 20px;
    height: 25px;
    display: flex;
    align-items: center;
}

.catalogs__collection-download-icon {
    height: 24px;
    width: 20px;
    background-color: var(--dark-gray-bg-color);
}

.catalogs__collection-download-link {
    margin-left: 10px;
    color: var(--text-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-small-weight);
    letter-spacing: 2px;
    cursor: pointer;
}

.catalogs__separator {
    height: 31px;
    width: 100%;
    color: var(--text-color);
}

.catalogs__separator--long {
    margin: 20px 0;
}

.embla,
.catalogs__carousel {
    position: relative;
    padding-top: 15px;
}

.embla__button,
.catalogs__carousel-scroller {
    background-color: var(--text-color);
    height: 24px;
    width: 24px;
    border-width: 0;
    border-radius: 50%;
    opacity: 0.8;
    position: absolute;
    top: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.embla__button--prev,
.catalogs__carousel-scroller--left {
    transform: scaleX(-1);
    left: 0;
}

.embla__button--next,
.catalogs__carousel-scroller--right {
    right: 0;
}

.embla__button:hover,
.embla__button:active,
.catalogs__carousel-scroller:hover,
.catalogs__carousel-scroller:active {
    opacity: 1;
}

.catalogs__carousel-scroller-svg {
    height: 12px;
    width: 12px;
}

.catalogs__carousel-scroller-svg-use {
    fill: var(--black-bg-color);
}

.embla__viewport {
    overflow: hidden;
}

.embla__container,
.catalogs__carousel-list {
    display: flex;
}

.embla__slide,
.catalogs__carousel-lamp {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    flex: 1 1 100%;
    min-width: 100%;
}

.embla__slide__img,
.catalogs__carousel-lamp-image {
    max-width: 100%;
    aspect-ratio: 100 / 96.76;
    object-fit: cover;
}

.catalogs__carousel-lamp-title {
    color: var(--text-color);
    font-size: var(--font-heading-size-mobile);
    font-weight: var(--font-heading-weight);
    line-height: var(--font-heading-line-height);
}

.catalogs__carousel-lamp-collection {
    color: var(--light-accent-text-color);
    font-size: var(--font-small-size);
    font-weight: var(--font-small-weight);
    line-height: var(--font-small-line-height);
    letter-spacing: 2px;
}

.catalogs__carousel-lamp-year {
    color: var(--paragraph-text-color);
    font-size: var(--font-caption-size-tablet);
    font-weight: var(--font-caption-weight);
    line-height: var(--font-caption-line-height);
}

@media (min-width: 768px) {
    .catalogs {
        padding: 105px 32px;
    }

    .catalogs__intro-and-collections {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    .catalogs__intro {
        margin-bottom: 25px;
        padding-right: 30px;
    }

    .catalogs__title {
        font-size: var(--font-block-title-size-tablet);
    }

    .catalogs__collection-title {
        font-size: var(--font-heading-size-tablet);
    }

    .catalogs__collections {
        margin-bottom: 25px;
        margin-top: 70px;
        padding-left: 30px;
    }

    .embla,
    .catalogs__carousel {
        padding-top: 20px;
        gap: 30px;
    }

    .embla__button,
    .catalogs__carousel-scroller {
        height: 32px;
        width: 32px;
    }

    .catalogs__carousel-scroller-svg {
        height: 20px;
        width: 20px;
    }

    .embla__slide,
    .catalogs__carousel-lamp {
        flex: 1 1 50%;
        min-width: 50%;
    }

    .catalogs__carousel-lamp-title {
        font-size: var(--font-heading-size-tablet);
    }
}

@media (min-width: 992px) {
    .catalogs {
        padding: 120px 46.667px;
    }

    .catalogs__intro,
    .catalogs__collections {
        margin-bottom: 30px;
    }

    .catalogs__title {
        font-size: var(--font-block-title-size);
    }

    .button--catalogs {
        margin-top: 40px;
    }

    .catalogs__collection-title {
        font-size: var(--font-heading-size);
    }

    .catalogs__collections {
        margin-top: 15px;
    }

    .embla,
    .catalogs__carousel {
        padding-top: 20px;
    }

    .embla__button,
    .catalogs__carousel-scroller {
        background-color: var(--dark-gray-bg-color);
        width: 30px;
        height: 30px;
        border-radius: 0;
    }

    .embla__button--prev,
    .catalogs__carousel-scroller--left {
        left: -30px;
    }

    .embla__button--next,
    .catalogs__carousel-scroller--right {
        right: -30px;
    }

    .catalogs__carousel-scroller-svg {
        height: 30px;
        width: 30px;
    }

    .catalogs__carousel-scroller-svg-use {
        fill: var(--text-color);
    }

    .embla__slide,
    .catalogs__carousel-lamp {
        flex: 1 1 25%;
        min-width: 25%;
        padding: 0 15px;
    }

    .catalogs__carousel-lamp-title {
        font-size: var(--font-heading-size);
    }

    .catalogs__carousel-lamp-year {
        font-size: var(--font-caption-size);
    }
}