.index-header {
  max-width: 100%;
  background-image: url("../img/header-cover.webp");
  padding: 10px;
  color: var(--paragraph-text-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

section {
  padding: 20px;
  padding-bottom: 60px;
}

.right-aligned-text {
  text-align: right;
}

.right-block {
  max-width: 200px;
}

.product-title {
  color: var(--text-color);
  font-size: 20px;
}

.arrow-link {
  text-decoration: none;
  color: var(--accent-text-color);
  font-size: 19px;
}

.header__button {
  font-size: 11px;
  display: inline-block;
  width: 100px;
  height: 40px;
  background-color: var(--accent-text-color);
  color: var(--text-color);
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.header__button a:hover {
  background-color: var(--text-color);
  color: var(--light-gray-bg-color);
}

.request-link {
  text-decoration: none;
  color: var(--accent-text-color);
}

.highlight-text {
  color: var(--light-accent-text-color);
}

.read-more-link {
  color: var(--text-color);
  font-size: 9px;
}
