div {
    font-family: 'Manrope', sans-serif;
    color: #bbbbbb;
}

p {
    font-family: inherit;
    font-size: 10px;
}

a {
    color: inherit;
}

h2 {
    color: #d78c43;
    font-size: 9px;
}

h1 {
    color: white;
    font-size: 36px;
    min-width: 320px;
}

header {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    color: #bbbbbb;
    max-width: 100%;
    box-sizing: border-box;
}

section {
    padding: 20px;
    padding-bottom: 60px;
}

.index-header {
    max-width: 100%;
    background-image: url('/img/header-cover.webp');
}

.right-aligned-text {
    text-align: right;
}

.right-block {
    max-width: 200px;
}


.logo {
    max-width: 10%;
    height: auto;
}

.menu {
    font-size: 9px;
    color: #bbbbbb;
}

.menu a:hover {
    color: #d78c43;
}

.product-title {
    color: white;
    font-size: 20px;
}

.arrow-link {
    text-decoration: none;
    color: #d78c43;
    font-size: 19px;
}

.button {
    font-size: 11px;
    display: inline-block;
    width: 100px;
    height: 40px;
    background-color: #d78c43;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    transition: background-color 0.3s, color 0.3s;
}

.button a:hover {
    background-color: white;
    color: #333333;
}

.request-link {
    text-decoration: none;
    color: #e7903b;
}

.highlight-text {
    color: #f1d1af;
}

.read-more-link {
    color: white;
    font-size: 9px;
}