<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="css/projects.css" />
    <link rel="shortcut icon" href="img/favicon.svg" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!--1 Maria Olivenbaum -->
    <header id="projects__header" class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="projects.header-hero.partial.html"
      ></section>
    </header>

    <!--Kryvoruchko Iryna -->
    <main>
      <div class="project">
        <div class="project-title">432 Broadway</div>
        <div class="project-date">15 SEPTEMBER, 2023</div>
        <div class="project-description">
          In this completed lighting design project, we’ve orchestrated a
          harmonious interplay of ceiling and floor lamps to illuminate and
          elevate the ambiance of a living room space. Through thoughtful
          consideration of both form and function, Prizma Studio has crafted a
          lighting design that not only meets the practical needs of the space
          but also enhances its aesthetic appeal.
        </div>
        <div class="project-images">
          <img src="img/projects/living-room.webp" alt="Living room" />
          <img src="img/projects/lamp.webp" alt="Living room lamp" />
        </div>
        <a href="single-project.html" class="arrow">→</a>
      </div>

      <div class="project">
        <div class="project-title">Clazzy Beauty Salon</div>
        <div class="project-date">05 JANUARY, 2024</div>
        <div class="project-description">
          Prizma Studio has transformed this space into a radiant sanctuary
          where beauty thrives and clients are enveloped in an atmosphere of
          luxury and relaxation. From the gentle glow of the ceiling fixtures to
          the subtle warmth of the table lamps, every element of this project
          has been curated to enhance the salon experience and leave a lasting
          impression on all who enter.
        </div>
        <div class="project-images">
          <img src="img/projects/beauty-salon.webp" alt="Beauty salon" />
          <img src="img/projects/beauty-salon-lamp.webp" alt="Beauty salon lamp" />
        </div>
        <a href="single-project.html" class="arrow">→</a>
      </div>

      <div class="project">
        <div class="project-title">IQ Movie Theater</div>
        <div class="project-date">10 MARCH, 2024</div>
        <div class="project-description">
          Step into the captivating world of cinema with Prizma Studio's
          completed lighting design project for a luxurious movie theater. In
          this exquisite space, we've skillfully blended ceiling and wall
          lighting to create an immersive and visually stunning experience for
          moviegoers.
        </div>
        <div class="project-images">
          <img src="img/projects/theater.webp" alt="Theater" />
          <img src="img/projects/theater-lamp.webp" alt="Theater lamp" />
        </div>
        <a href="single-project.html" class="arrow">→</a>
      </div>

      <div class="project">
        <div class="project-title">Luminous Harmony</div>
        <div class="project-date">24 APRIL, 2024</div>
        <div class="project-description">
          Luminous Harmony is a showcase of innovative lighting design
          implemented at the prestigious Riverfront Hotel in Chicago. This
          project was designed to create an ambiance that complements the
          luxurious interior while enhancing the architectural features of the
          hotel.
        </div>
        <div class="project-images">
          <img src="img/projects/white-bed.webp" alt="Bedroom" />
          <img src="img/projects/white_lamp.webp" alt="Bedroom lamp" />
        </div>
        <a href="single-project.html" class="arrow">→</a>
      </div>
    </main>

    <!--11 Stepanenko Roman -->
    <footer class="footer">
      <section
        class="footer__about"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></section>
    </footer>
  </body>
</html>
