<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <link rel="stylesheet" href="css/projects.css" />
    <link
      rel="shortcut icon"
      href="https://placekitten.com/96/139"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!--1 Maria Olivenbaum -->
    <header class="index-header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="projects.header-hero.partial.html"
      ></section>
    </header>
<!--Iryna Kryvoruchko -->
    <main>
      <div class="project">
        <div class="project-head">
          <div class="project-title"><b>432 Broadway</b></div>
          <p class="project-date">15 SEPTEMBER, 2023</p>
        </div>
        <div class="project-details">
          <div class="project-description">
            In this completed lighting design project, we’ve orchestrated a
            harmonious interplay of ceiling and floor lamps to illuminate and
            elevate the ambiance of a living room space. Through thoughtful
            consideration of both form and function, Prizma Studio has crafted a
            lighting design that not only meets the practical needs of the space
            but also enhances its aesthetic appeal.
          </div>
          <a href="single-project.html" class="arrow">
            <svg width="50" height="50" viewBox="0 0 100 99.999">
              <polygon points="74,49.668 52.492,28.001 48.098,32.243 62.495,46.638 25.224,46.638 25.224,52.638 62.6,52.638 48.098,67.032 52.492,71.274 74,49.732 73.967,49.7" fill="currentColor"></polygon>
            </svg>
          </a>
        </div>
        <div class="project-images">
          <div>
            <img src="img/projects/living-room.webp" alt="Living room">
          </div>
          <div>
            <img src="img/projects/living-room-lamp.webp" alt="Living room lamp">
          </div>
        </div>
        <svg class="separator-line" xmlns="http://www.w3.org/2000/svg" width="3000px" height="31" style="width: 100%">
          <path d="M0 15.5 L3000 15.5" style=" fill: none; stroke: rgba(255, 255, 255, 0.09); stroke-width: 1px; "></path>
        </svg>
      </div>

      <div class="project">
        <div class="project-head">
          <div class="project-title"><b>Clazzy Beauty Salon</b></div>
          <p class="project-date">05 JANUARY, 2024</p>
        </div>
        <div class="project-details">
          <div class="project-description">
            Prizma Studio has transformed this space into a radiant sanctuary
            where beauty thrives and clients are enveloped in an atmosphere of
            luxury and relaxation. From the gentle glow of the ceiling fixtures to
            the subtle warmth of the table lamps, every element of this project
            has been curated to enhance the salon experience and leave a lasting
            impression on all who enter.
          </div>
          <a href="single-project.html" class="arrow">
            <svg width="50" height="50" viewBox="0 0 100 99.999">
              <polygon points="74,49.668 52.492,28.001 48.098,32.243 62.495,46.638 25.224,46.638 25.224,52.638 62.6,52.638 48.098,67.032 52.492,71.274 74,49.732 73.967,49.7" fill="currentColor"></polygon>
            </svg>
          </a>
        </div>
        <div class="project-images">
          <div>
            <img src="img/projects/beauty-salon.webp" alt="Beauty salon">
          </div>
          <div>
            <img src="img/projects/beauty-salon-lamp.webp" alt="Beauty salon lamp">
          </div>
        </div>
        <svg class="separator-line" xmlns="http://www.w3.org/2000/svg" width="3000px" height="31" style="width: 100%">
          <path d="M0 15.5 L3000 15.5" style=" fill: none; stroke: rgba(255, 255, 255, 0.09); stroke-width: 1px; "></path>
        </svg>
      </div>
      
      <div class="project">
        <div class="project-head">
          <div class="project-title"><b>IQ Movie Theater</b></div>
          <div class="project-date">10 MARCH, 2024</div>
        </div>
        <div class="project-details">
          <div class="project-description">
            Step into the captivating world of cinema with Prizma Studio's
            completed lighting design project for a luxurious movie theater. In
            this exquisite space, we've skillfully blended ceiling and wall
            lighting to create an immersive and visually stunning experience for
            moviegoers.
          </div>
          <a href="single-project.html" class="arrow">
            <svg width="50" height="50" viewBox="0 0 100 99.999">
              <polygon points="74,49.668 52.492,28.001 48.098,32.243 62.495,46.638 25.224,46.638 25.224,52.638 62.6,52.638 48.098,67.032 52.492,71.274 74,49.732 73.967,49.7" fill="currentColor"></polygon>
            </svg>
          </a>
        </div>
        <div class="project-images">
          <div>
            <img src="img/projects/theater.webp" alt="Theater">
          </div>
          <div>
            <img src="img/projects/theater-lamp.webp" alt="Theater lamp">
          </div>
        </div>
        <svg class="separator-line" xmlns="http://www.w3.org/2000/svg" width="3000px" height="31" style="width: 100%">
          <path d="M0 15.5 L3000 15.5" style=" fill: none; stroke: rgba(255, 255, 255, 0.09); stroke-width: 1px; "></path>
        </svg>
      </div>

      <div class="project">
        <div class="project-head">
          <div class="project-title"><b>Luminous Harmony</b></div>
          <div class="project-date">24 APRIL, 2024</div>
        </div>
        <div class="project-details">
          <div class="project-description">
            Luminous Harmony is a showcase of innovative lighting design
            implemented at the prestigious Riverfront Hotel in Chicago. This
            project was designed to create an ambiance that complements the
            luxurious interior while enhancing the architectural features of the
            hotel.
          </div>
          <a href="single-project.html" class="arrow">
            <svg width="50" height="50" viewBox="0 0 100 99.999">
              <polygon points="74,49.668 52.492,28.001 48.098,32.243 62.495,46.638 25.224,46.638 25.224,52.638 62.6,52.638 48.098,67.032 52.492,71.274 74,49.732 73.967,49.7" fill="currentColor"></polygon>
            </svg>
          </a>
        </div>
        <div class="project-images">
          <div>
            <img src="img/projects/white-bed.webp" alt="Bedroom">
          </div>
          <div>
            <img src="img/projects/white_lamp.webp" alt="Bedroom lamp">
          </div>
        </div>
      </div>
    </main>
 
    <!--11 Stepanenko Roman -->
    <footer class="footer">
      <section
        class="footer__about"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></section>
    </footer>
    <script src="js/projects.js"></script>
  </body>
</html>
