<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project</title>
    <link rel="stylesheet" href="css/single-projects.css" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header id="single-project__header" class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="single-project.header-hero.partial.html"
      ></section>
    </header>
    <main>
      <section class="main-article">
        <div class="container">
          <div class="images">
            <img class="lamp" src="img/projects/white_lamp.webp" alt="Lamp">
            <img class="bedroom" src="img/projects/white-bed.webp" alt="Bedroom" >
          </div>
            <div class="info-project">
              <p>
                <span class="strong-text-info">Name:</span>
                "Luminous Harmony"
              </p>
              <p>
                <span class="strong-text-info">Location:</span>
                Chicago, Illinois
              </p>
              <p>
                <span class="strong-text-info">Date:</span>
                April, 2024
              </p>
            </div>
 
            <svg xmlns="http://www.w3.org/2000/svg" width="3000px" height="31" style="width:100%"><path d="M0 15.5 L3000 15.5" style="fill:none;stroke:rgba(255, 255, 255, 0.16);stroke-width:1px"></path></svg>
 
            <div class="brief">
              <div class="article-header">
                <h3>Brief Overview:</h3>
              </div>
              <div class="article-text">
                <p>
                  Luminous Harmony is a showcase of innovative lighting design implemented at the prestigious Riverfront Hotel in Chicago. This project was designed to create an ambiance that complements the luxurious interior while enhancing the architectural features of the hotel.
                </p>
                <p>
                  Our approach centered on blending traditional aesthetics with modern lighting technology. We used advanced LED solutions to highlight the hotel's grand architecture, ensuring that each area received its own thematic lighting that shifts with the mood and time of day. Ambient, task, and accent lighting techniques were employed to enhance both functionality and ambiance.
                </p>
                <p>The main lobby's lighting was designed to adapt from a bright, welcoming day-time setting to a more subdued, intimate evening atmosphere. Special weather-resistant fixtures were used for outdoor areas, emphasizing durability without compromising on style.
                </p>
              </div>
            </div>
 
            <svg xmlns="http://www.w3.org/2000/svg" width="3000px" height="31" style="width:100%"><path d="M0 15.5 L3000 15.5" style="fill:none;stroke:rgba(255, 255, 255, 0.16);stroke-width:1px"></path></svg>
 
            <div class="features">
              <div class="article-header">
                <h3>Key Features:</h3>
              </div>
              <div class="article-text">
                <ul class="list">
                  <li class="checkmark-list"><img src="img/checkmark.svg" alt="checkmark">
                    Energy-efficient LED lighting throughout the hotel.</li>
                  <li> <img src="img/checkmark.svg" alt="checkmark">
                    Custom-designed luminaires to match architectural themes.</li>
                  <li><img src="img/checkmark.svg" alt="checkmark">
                    Smart lighting systems with automated controls for time and intensity.</li>
                  <li><img src="img/checkmark.svg" alt="checkmark">
                    Weather-proof outdoor fixtures for all-weather durability.</li>
                </ul>
              </div>
            </div>
 
            <svg xmlns="http://www.w3.org/2000/svg" width="3000px" height="31" style="width:100%"><path d="M0 15.5 L3000 15.5" style="fill:none;stroke:rgba(255, 255, 255, 0.16);stroke-width:1px"></path></svg>
 
            <div class="tech-details">
              <div class="article-header">
                <h3>Technical Details:</h3>
              </div>
              <div class="article-text">
              <p>
                <span class="strong-text">LED Panels:</span>
                High-efficiency panels with adjustable color temperatures ranging from 2700K to 6500K;
              </p>
              <p>
                <span class="strong-text">Motion-Sensor LED Pathways:</span>
                <span>Automatically adjust lighting based on occupancy, reducing energy usage by up to 40%;</span>
              </p>
              <p>
                <span class="strong-text">Weather-Proof Outdoor Fixtures:</span>
                <span>Specially designed to withstand extreme weather, ensuring durability and consistent performance;</span>
              </p>
              </div>
            </div>
 
            <svg xmlns="http://www.w3.org/2000/svg" width="3000px" height="31" style="width:100%"><path d="M0 15.5 L3000 15.5" style="fill:none;stroke:rgba(255, 255, 255, 0.16);stroke-width:1px"></path></svg>
 
            <div class="testimonial">
              <div class=" article-header">
                <img src="img/projects/emma-carter.webp" alt="Emma Garcia">
              </div>
              <div class="article-text">
                <blockquote>
                  "The expertise and creativity of the Prizma Studio team have transformed our hotel into a beacon of luxury and comfort. Their attention to detail and innovative use of space and light have significantly enhanced both the guest experience and our brand's aesthetic appeal."
                </blockquote>
                <div class="name">- Emma Garcia, CEO, Riverfront Hotel</div>
              </div>
            </div>
        </div>
    </section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="projects.CTA-section.partial.html"
      ></section>
    </main>
    <!--11 Stepanenko Roman -->
    <footer class="footer">
      <section
        class="footer__about"
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html"
      ></section>
    </footer>
  </body>
</html>
